.profile-grid .add-friend-button-container,
.profile-grid .add-community-button-container {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xxs);
  flex-wrap: wrap;
  justify-content: flex-start;
}

.profile-grid table {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.profile-grid td {
  padding: 0;
}

.profile-grid .add-friend-button-container .span,
.profile-grid .add-community-button-container .span {
  display: inline-flex;
  align-items: center;
}

.profile-grid .add-friend-button-container > div,
.profile-grid .add-community-button-container > div {
  flex-basis: 100%;
}

.profile-grid .profile-image {
  width: var(--profile-image-size-profilePane);
  height: var(--profile-image-size-profilePane);
  margin: var(--spacing-xxxs-profilePane);
  border-radius: var(--spacing-lg);
}