

.profile__hero {
  width: 140px;
  height: 140px;
  border-radius: var(--border-radius-full);
  border: 1px solid var(--color-primary);
  background-color: lightgray;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.profile__hero-alt {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-full);
  margin-bottom: var(--spacing-sm);
  box-shadow: var(--box-shadow-sm);
  border: 1px solid var(--color-primary);
  background: var(--color-card-bg);
  box-sizing: border-box;
  color: var(--font-color-text-secondary);
}
